pandas==1.5.3
numpy==1.23.5
scikit-learn==1.1.2
imblearn==0.10.1
lightgbm==3.3.2
xgboost==1.7.5
seaborn==0.11.2
matplotlib==3.5.3
joblib==1.1.0
streamlit==1.18.1
shap==0.40.0
lime==0.2.0.1
jupyter==1.0.0
